<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Authenticate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input type="email" placeholder="E-mail"></ion-input>
  </ion-item>
    <ion-item>
    <ion-label position="floating"></ion-label>
    <ion-input type="password" placeholder="password"></ion-input>
    </ion-item>
  </ion-list>
  <!--div text-center>
  <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div-->
  <ion-button color="primary" (click)="onLogin()">Login</ion-button>
</ion-content>
